<html>
<head>
    <meta name="keyword" content="">
	<meta charset="utf-8">
	<title>紫贝文化创意港</title>
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="stylesheets/header/header.css" rel="stylesheet" type="text/css" media="all">
	<link href="stylesheets/header/style.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>
    <header>
        <div class="">
            <div class="cbp-af-header">
                <div class="cbp-af-inner">
                    <div class="wrap">
                       <a href='/'><img src="images/logo.png">
                       <h1>紫贝文化创意港</h1></a>
                    </div>
                </DIV>
            </div>
        </div>
    </header>