<nav class = "navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class = "navbar-header">
        <a class = "navbar-brand" href = "/manager">后台</a>
    </div>
    <div class = "navbar-collapse collapse container">
        <ul id = "navigation" class = "navbar-nav nav">
            <li id = "picture"><a href = "/manager/pictures">图片</a></li>    
            <li id = "slice"><a href = "/manager/slices">轮播图</a></li>    
            <li id = "board"><a href = "/manager/boards">公告</a></li>    
        </ul>        
    </div>
</nav>